* {
  margin: 0 auto;
  padding: 0;
}

main {
  width: 980px;
}

main h1 {
  margin: 0;
  font-size: 48px;
  line-height: 1.0834933333;
  font-weight: 700;
  letter-spacing: -0.003em;
}
