# Output files
build/run/output/*.html
build/run/output/src/*
# Cache files
**/*cache*/
**/__pycache__/
*.pyc
*.pyo

# Editor files
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.bak

# Logs
*.log

_site
libs
**/article/.gitignore
*output*
*_libs*
*site*libs*
*_books*
*_index*/
*index_*/
artefatos/