/* 
  Artigo Apple de referencia
  - https://www.apple.com/newsroom/2025/07/apple-lands-record-breaking-81-emmy-award-nominations-with-severance-leading/
*/

* {
  margin: 0 auto;
  padding: 0;
}

main {
  max-width: 2560px;
  height: max-content;
  padding: 0;
  overflow-x: hidden;
}
main .component-content {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 653px;
}
main .category.component {
  margin-bottom: 20px;
  margin-top: 52px;
}

main .category-eyebrow {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 700;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

main .category-eyebrow__category {
  text-transform: uppercase;
  color: #6e6e73;
  border-color: #6e6e73;
}

main .category-eyebrow__category,
.category-eyebrow__date {
  display: block;
}

main .page-article .category-eyebrow__date {
  margin-top: 4px;
}
main .category-eyebrow__date {
  color: #6e6e73;
}
main .category-eyebrow__date {
  font-size: 14px;
  line-height: 1.2857742857;
  font-weight: 600;
  letter-spacing: -0.016em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
main .category-eyebrow__category,
.category-eyebrow__date {
  display: block;
}

main section article {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 980px;
}

main h1 {
  font-weight: 700;
  letter-spacing: -0.003em;
  font-size: 48px;
  line-height: 1.0834933333;
  font-weight: 700;
  letter-spacing: -0.003em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 653px;
}

.article-subhead {
  font-size: 24px;
  line-height: 1.1666666667;
  font-weight: 500;
  letter-spacing: 0.009em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-top: 20px;
  margin-bottom: 0;
}
h2[data-anchor-id] {
    font-size: 24px;
  line-height: 1.1666666667;
  font-weight: 500;
  letter-spacing: 0.009em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-top: 20px;
  margin-bottom: 0;
}

.component {
  margin-top: 44px;
  margin-bottom: 44px;
}
@media only screen and (min-width: 1441px) {
  .component {
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 980px;
  }
}
.component {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 980px;
}

.component-content {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 653px;
}

.pagebody {
  font-size: 19px;
  line-height: 1.4211026316;
  font-weight: 400;
  letter-spacing: 0.012em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.component {
  margin-top: 44px;
  margin-bottom: 44px;
}
@media only screen and (min-width: 1441px) {
  .component {
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 980px;
  }
}
.component {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 980px;
}

.component-content {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 653px;
}

.pagebody-copy:first-child {
  margin-top: 0;
}
.pagebody-copy {
  margin-bottom: 1.4211026316em;
}
