<!DOCTYPE html>
<html lang="en">

<head>
  <title>Estatística</title>
  <link rel="icon" href="/sd/1/pt_BR/favicons/estatistica.svg" type="image/svg+xml">
  <meta charset="utf-8" />
  <meta content="Estatística" name="topic" />
  <meta content="index,follow" name="robots" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="Content-Security-Policy"
    content="img-src 'self' https://www.estatistica.pro/; script-src 'self' https://www.estatistica.pro/ac/ https://www.estatistica.pro/sd/; font-src 'self' https://czargab18.github.io/wss; style-src 'self' https://www.estatistica.pro/" />

  <link rel="stylesheet" href="/ac/globalheader/aside/1/pt_BR/styles/globalaside.css">
  <link rel="stylesheet" href="/ac/globalheader/navbar/1/pt_BR/styles/globalnavbar.css">
  <link rel="stylesheet" href="/ac/globalheader/ribbon/1/pt_BR/styles/globalribbon.css">
  <link rel="stylesheet" href="/ac/globalmain/1/pt_BR/styles/globalmain.css">
  <link rel="stylesheet" href="/ac/globalfooter/1/pt_BR/styles/globalfooter.css">
  <!-- especificos -->
  <link rel="stylesheet" href="/ac/globalothers/newsroom/1/pt_BR/styles/artigo.css">

</head>

<body>
  <main class="main main-article">
    <article class="article">
      <!-- header -->
      <div class="article-header">
        <div class="category component">
          <div class="component-content">
            <div class="category-eyebrow">
              <span class="category-eyebrow-category category_update"></span>
              <span class="category-eyebrow-date"></span>
            </div>
          </div>
        </div>
        <div class="pagetitle component">
          <div class="component-content">
            <h1 class="hero-headline"></h1>
          </div>
        </div>
        <div class="article-subhead component">
          <div class="component-content"></div>
        </div>
      </div>
      <!-- conteúdo: sections do artigo sem a header -->
       
    </article>
  </main>

</body>

</html>