<!DOCTYPE html>
<html lang="en">
<head>
  <title>Estatística</title>
  <link rel="icon" href="/sd/1/pt_BR/favicons/estatistica.svg" type="image/svg+xml">
  <meta charset="utf-8" />
  <meta content="Estatística" name="topic" />
  <meta content="index,follow" name="robots" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="Content-Security-Policy"
    content="img-src 'self' https://www.estatistica.pro/; script-src 'self' https://www.estatistica.pro/ac/ https://www.estatistica.pro/sd/; font-src 'self' https://czargab18.github.io/wss; style-src 'self' https://www.estatistica.pro/" />
  
  <link rel="stylesheet" href="/ac/globalheader/aside/1/pt_BR/styles/globalaside.css">
  <link rel="stylesheet" href="/ac/globalheader/navbar/1/pt_BR/styles/globalnavbar.css">
  <link rel="stylesheet" href="/ac/globalheader/ribbon/1/pt_BR/styles/globalribbon.css">
  <link rel="stylesheet" href="/ac/globalmain/1/pt_BR/styles/globalmain.css">
  <link rel="stylesheet" href="/ac/globalfooter/1/pt_BR/styles/globalfooter.css">
  <!-- especificos -->
  <link rel="stylesheet" href="/ac/globalothers/newsroom/1/pt_BR/styles/artigo.css">
  
</head>
<body>
  <main class="main main-article">
    <article class="article">
      <!-- header -->
      <div class="article-header">
        <div class="category component">
          <div class="component-content">
            <div class="category-eyebrow">
              <span class="category-eyebrow__category category_update">UPDATE</span>
              <span class="category-eyebrow__category category_release">PRESS RELEASE</span>
              <span class="category-eyebrow__category category_quickread">QUICK READ</span>
              <span class="category-eyebrow__date">17 de Julho de 2025</span>
            </div>
          </div>
        </div>
        <div class="pagetitle component">
          <div class="component-content">
            <h1 class="hero-headline">
              Apple lands record-breaking 81 Emmy Award nominations, with Severance leading as this year’s most-nominated
              series and The Studio becoming the most-nominated freshman comedy in history
            </h1>
          </div>
        </div>
        <div class="article-subhead component">
          <div class="component-content">
            Global phenomenon Severance scores 27 nominations for hit second season, including Outstanding Drama Series.
          </div>
        </div>
      </div>
      <!-- conteúdo -->
    </article>
  </main>

</body>
</html>