<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Estatística</title>
  <meta charset="utf-8" />
  <meta content="index,follow" name="robots" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="Content-Security-Policy"
    content="img-src 'self' https://www.estatistica.pro/; script-src 'self' https://www.estatistica.pro/ac/ https://www.estatistica.pro/sd/; font-src 'self' https://czargab18.github.io/wss; style-src 'self' https://www.estatistica.pro/" />
  <meta name="description"
    content="A fonte oficial de notícias sobre a Estatistica, da própria Estatistica. Leia comunicados de imprensa, receba atualizações, assista a vídeos e baixe imagens." />
  <link rel="icon" href="/sd/1/pt_BR/favicons/estatistica.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/ac/globalheader/aside/1/pt_BR/styles/globalaside.css">
  <link rel="stylesheet" href="/ac/globalheader/navbar/1/pt_BR/styles/globalnavbar.css">
  <link rel="stylesheet" href="/ac/globalheader/ribbon/1/pt_BR/styles/globalribbon.css">
  <link rel="stylesheet" href="/ac/globalothers/newsroom/1/pt_BR/styles/artigo.css">
  <link rel="stylesheet" href="/newsroom/assets/pt_BR/1/archive/styles/article.build.css">
  <link rel="stylesheet" href="/ac/globalfooter/1/pt_BR/styles/globalfooter.css">
</head>

<body class="page-article body body-article">
  <main class="main main-article">
    <article class="article">
      <div class="article-header">
        <div class="category component">
          <div class="component-content">
            <div class="category-eyebrow">
              <span class="category-eyebrow-category category_update"></span>
              <span class="category-eyebrow-date"></span>
            </div>
          </div>
        </div>
        <div class="pagetitle component">
          <div class="component-content">
            <h1 class="hero-headline"></h1>
          </div>
        </div>
        <div class="article-subhead component">
          <div class="component-content"></div>
        </div>
      </div>
      <!-- conteúdo: sections do artigo sem a header -->
    </article>
  </main>
  <footer class="footer" id="globalfooter">
    <div id="globalfooter-content">
      <h2 class="globalfooter-content-label" id="globalfooter-content-label">
        Estatistica
      </h2>
      <section aria-label="Footnotes" id="globalfooter-note">
        <ul>
          <li>
            <span id="footnote-1">1.</span>
            <p class="globalfooter-footnote-paragraph">
              Este site foi criado com o objetivo de oferecer aos estudantes de estatística e áreas afins um espaço de
              aprendizagem, troca e atualização sobre os principais conceitos, métodos e aplicações da ciência dos
              dados. Aqui você encontrará materiais didáticos, exercícios, vídeos, links úteis e outras informações
              relevantes para o seu desenvolvimento acadêmico e profissional na área de estatística.
            </p>
          </li>
          <li>
            Para mais informações sobre o departamento de estatística, visite o site
            <a href="https://est.unb.br" rel="noopener" target="_blank">clicando aqui</a>.
          </li>
          <li>
            <span id="footnote-2">2. </span>
            <p class="globalfooter-footnote-paragraph">
              O Departamento de Estatística da UnB é um órgão do Instituto de Ciências Exatas que se dedica ao ensino,
              pesquisa e extensão em Estatística e Ciência de Dados, formando profissionais qualificados e
              contribuindo para o desenvolvimento científico e tecnológico em diversas áreas do conhecimento. O
              departamento oferece cursos de graduação e pós-graduação em Estatística, além de disciplinas que atendem
              a diversos departamentos da universidade. O departamento também possui um site que oferece aos
              estudantes de estatística e áreas afins um espaço de aprendizagem, troca e atualização sobre os
              principais conceitos, métodos e aplicações da ciência dos dados, com materiais didáticos, exercícios,
              vídeos, links úteis e outras informações relevantes.
            </p>
          </li>
          <li>
            <span id="footnote-3">3. </span>
            <p class="globalfooter-footnote-paragraph">
              A Universidade de Brasília (UnB) é uma universidade pública brasileira situada na capital federal,
              Brasília. Ela é uma das maiores e mais prestigiadas instituições de ensino superior da região
              Centro-Oeste e do Brasil.
            </p>
          </li>
          <li>
            Para mais informações sobre a Universidade de Brasília, visite o site
            <a href="https://www.unb.br" rel="noopener" target="_blank">unb.br</a>.
          </li>
        </ul>
      </section>
      <nav class="ac-gf-directory with-5-columns" id="globalfooter-navgation">
        <div class="gf-directory-column">
          <div class="gf-directory-column-section">
            <h3 class="gf-directory-column-section-title">
              <span class="gf-directory-column-section-title-text"> Departamento </span>
              <button aria-controls="footer-directory-column-section-products"
                class="gf-directory-column-section-title-button">
                <span class="gf-directory-column-section-title-text">Departamento</span>
                <span class="gf-directory-column-section-title-icon">+</span>
              </button>
            </h3>
            <ul class="gf-directory-column-section-list" id="footer-directory-column-section-products" role="list">
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Graduação
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Pós-Graduação
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Extensão
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Docentes
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Pesquisa
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Eventos
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Instalações
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Notícias
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Contato
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Ouvidoria
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="gf-directory-column">
          <div class="gf-directory-column-section">
            <h3 class="gf-directory-column-section-title">
              <span class="gf-directory-column-section-title-text"> Links Importante </span>
              <button aria-controls="footer-directory-column-section-products" aria-expanded="false"
                class="gf-directory-column-section-title-button">
                <span class="gf-directory-column-section-title-text">Links Importante</span>
                <span class="gf-directory-column-section-title-icon">+</span>
              </button>
            </h3>
            <ul class="gf-directory-column-section-list" id="footer-directory-column-section-products" role="list">
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Boas Viandas a Unb
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Calendário acadêmico
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Perguntas Frequentes
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Assistência Estudantil
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Canais oficiais - Unb
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Marca UnB
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Campanha Institucional 2023
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  UnBTV
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="gf-directory-column">
          <div class="gf-directory-column-section">
            <h3 class="gf-directory-column-section-title">
              <span class="gf-directory-column-section-title-text"> Secretaria de Administração Academica </span>
              <button aria-controls="footer-directory-column-section-products" aria-expanded="false"
                class="gf-directory-column-section-title-button">
                <span class="gf-directory-column-section-title-text">Secretaria de Administração Academica</span>
                <span class="gf-directory-column-section-title-icon">+</span>
              </button>
            </h3>
            <ul class="gf-directory-column-section-list" id="footer-directory-column-section-products" role="list">
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Identidade estudantil
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Passe estudantil
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Diploma Digital
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Emissão de Documentos Acadêmicos
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Registro Acadêmico
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  SIGAA - Graduação e Pós-Graduação
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Emissão do Diploma
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Transporte
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Unb Idiomas
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Diretório Central dos Estudantes - DCE
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Legislação Graduação e Pós-Graduação
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="gf-directory-column">
          <div class="gf-directory-column-section">
            <h3 class="gf-directory-column-section-title">
              <span class="gf-directory-column-section-title-text"> Administrativo - UnB </span>
              <button aria-controls="footer-directory-column-section-products" aria-expanded="false"
                class="gf-directory-column-section-title-button">
                <span class="gf-directory-column-section-title-text"> Administrativo - UnB </span>
                <span class="gf-directory-column-section-title-icon">+</span>
              </button>
            </h3>
            <ul class="gf-directory-column-section-list" id="footer-directory-column-section-products" role="list">
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Reitoria
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Vice-Reitoria
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Conselhos e câmaras
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Resoluções dos Conselhos Superiores
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Decanatos
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Secretarias
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Prefeitura da UnB
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="gf-directory-column">
          <div class="gf-directory-column-section">
            <h3 class="gf-directory-column-section-title">
              <span class="gf-directory-column-section-title-text"> Serviçoes da Universidade </span>
              <button aria-controls="footer-directory-column-section-products" aria-expanded="false"
                class="gf-directory-column-section-title-button">
                <span class="gf-directory-column-section-title-text"> Serviçoes da Universidade </span>
                <span class="gf-directory-column-section-title-icon">+</span>
              </button>
            </h3>
            <ul class="gf-directory-column-section-list" id="footer-directory-column-section-products" role="list">
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Arquivo Central
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Biblioteca Central
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Editora UnB
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Equipe de Tratamento e Resposta a Incidentes Cibernéticos
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Fazenda Água Limpo
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Hospital Universitário
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Hospitais Veterinários
                </a>
              </li>
              <li class="gf-directory-column-section-item" role="listitem">
                <a class="gf-directory-column-section-link" href="#">
                  Restaurante Universitário
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <section id="globalfooter-copyright">
        <div class="gf-copyright-secretaria">
          <span class="gf-copyright-secretaria-text">
            Para mais informações, o email da Secretária do Departamento de Estatistica é
            <a href="mailto:est@unb.br">est@unb.br</a>. Ou ligue para o numero
            <a href="tel:+553131073697">3107-3697</a> ou <a href="tel:+553131073696">3107-3696</a>.
          </span>
          <span class="gf-copyright-secretaria-locale">
            Localização por google mapas:
            <a class="locale-dep-unb gf-copyright-locale-link" href="https://maps.app.goo.gl/S6zJwSsEXmhADdct8"
              rel="noopener" target="_blank">
              UNIVERSIDADE DE BRASÍLIA - PRÉDIO CIC/EST CAMPUS DARCY RIBEIRO - Asa Norte, Brasília - DF, 70910-900
            </a>
          </span>
        </div>
        <div id="gf-copyright-legal">
          <div class="gf-copyright-legal-text">Copyright © 2023 Todos os direitos reservados.</div>
          <ul class="gf-copyright-legal-links" role="list">
            <li class="gf-copy-legal-links-item" role="listitem">
              <a class="gf-copy-legal-link" href="/legal/">Politica de Privacidade</a>
            </li>
            <span class="footer-espacador">&nbsp;</span>
            <li class="gf-copy-legal-links-item" role="listitem">
              <a class="gf-copy-legal-link" href="/legal/">Termos de uso</a>
            </li>
            <span class="footer-espacador">&nbsp;</span>
            <li class="gf-copy-legal-links-item" role="listitem">
              <a class="gf-copy-legal-link" href="/sitemap/">
                Site Map</a>
            </li>
          </ul>
          <div class="gf-copyright-locale">
            <a class="gf-copyright-locale-link locale-BR" href="#" rel="noopener" target="_blank">Brasil
            </a>
          </div>
        </div>
      </section>
    </div>
  </footer>
</body>
</html>