<div class="article-header">
  <div class="category component">
    <div class="component-content">
      <div class="category-eyebrow">
        <span class="category-eyebrow__category category_update">UPDATE</span>
        <span class="category-eyebrow__date">17 de Julho de 2025</span>
      </div>
    </div>
  </div>
  <div class="pagetitle component">
    <div class="component-content">
      <h1 class="hero-headline">
        Apple lands record-breaking 81 Emmy Award nominations, with Severance leading as this year’s most-nominated
        series and The Studio becoming the most-nominated freshman comedy in history
      </h1>
    </div>
  </div>
  <div class="article-subhead component">
    <div class="component-content">
      Global phenomenon Severance scores 27 nominations for hit second season, including Outstanding Drama Series.
    </div>
  </div>
</div>