local_backend: true
backend:
  name: github
  branch: news
  repo: czargab18/newshub
  commit_messages:
    create: Create {{collection}} "{{slug}}"
    update: Update {{collection}} "{{slug}}"
    delete: Delete {{collection}} "{{slug}}"
    uploadMedia: Upload "{{path}}"
    deleteMedia: Delete "{{path}}"
    openAuthoring: "{{message}}"

  publish_mode: editorial_workflow
media_folder: "article/uploads"
public_folder: "uploads"
# site_url: https://czargab18.github.io/estatistica/
# display_url: https://czargab18.github.io/estatistica/
locale: "pt-br"
search: true
show_preview_links: true
slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "_"

collections:
  - name: "conteudo"
    label: "Publicações"
    label_singular: "Artigo"
    description: "Gerenciamento de artigos, notícias e conteúdos do site"
    folder: "article"
    create: true
    delete: true
    slug: "{{slug}}"
    preview_path: "article/{{slug}}"
    extension: "json"
    format: "json"
    identifier_field: "title"
    summary: "{{title}} - {{type}} - {{date_format}}"
    sortable_fields: ["date_format", "title", "type", "commit_date", "commit_author"]

    view_filters:
      - { label: "UnB", field: type, pattern: "unb" }
      - { label: "EST", field: type, pattern: "est" }
      - { label: "IE", field: type, pattern: "ie" }

    view_groups:
      - { label: "Ano", field: date_format, pattern: '\d{4}' }
      - { label: "Tipo", field: type }
      - { label: "Categoria", field: category }
      - { label: "Idioma", field: language }

    editor:
      preview: true

    fields:
      # --- CAMPOS OCULTOS ---
      - { label: "ID", name: "id", widget: "hidden", default: "" }
