backend:
  name: git-gateway
  repo: "czargab18/estatistica"
  branch: news
media_folder: "newshub/artigos/img"
public_folder: "img" 
collections:
  - name: "noticias"
    label: "Notícias"
    folder: "newshub/artigos"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    extension: "json"             
    format: "json"
    fields:
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Data", name: "date", widget: "datetime" }
      - { label: "Autor", name: "author", widget: "string", optional: true }
      - { label: "Corpo da Notícia", name: "body", widget: "markdown" }
