name: "Renderizar Notícias - Quarto"

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      [
        "article/**/*.qmd",
        "article/**/*.yml",
        "article/*.html",
        "article/*.bib",
        ".github/workflows/*newshub*.yml",
      ]

permissions:
  contents: write
  pull-requests: read
  pages: write
  id-token: write

jobs:
  detectar:
    runs-on: ubuntu-latest
    environment:
      name: ENVIRONMENT
    env:
      TOKEN_REPO_SYNC: ${{ secrets.TOKEN_REPO_SYNC }}
      USEREMAIL: ${{ secrets.USEREMAIL }}
      USERNAME: ${{ github.repository_owner }}
    steps:
      - name: Clona o Repositório newshub
        uses: actions/checkout@v4
        with:
          repository: ${{ env.USERNAME }}/newshub
          token: ${{ secrets.GITHUB_TOKEN }}
          path: newshub
          ref: main
          fetch-depth: 30

      - name: Detecta mudanças na pasta article/
        id: detecta_article
        run: |
          cd newshub
          echo "Detectando mudanças na pasta article/"
          git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep '^article/' > arquivos.txt || touch arquivos.txt
          echo "Arquivos alterados em article/:"
          cat arquivos.txt || echo "Nenhum arquivo encontrado"

      - name: Salva pasta article/ como artefato
        uses: actions/upload-artifact@v4
        with:
          name: newsroom_detectados
          path: newshub/article

  renderizar:
    needs: [detectar]
    runs-on: ubuntu-latest
    steps:
      - name: Baixa artefato
        uses: actions/download-artifact@v4
        with:
          name: newsroom_detectados
          path: _newsroom

      - name: Configura Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Renderiza notícias Quarto
        run: |
          set -e
          cd _newsroom
          echo "$FOLDERS_LISTA" | tr ' ' '\n' | while read folder; do
            if [ -d "${folder}" ]; then
              echo "Renderizando notícia: $folder"
              quarto render "${folder}" --to html --execute --output-dir "../../_docs/${folder}"
            else
              echo "Pasta não encontrada: $folder"
            fi
          done

      - name: Limpa diretórios '_docs/ac/site_libs' e '_docs/delete'
        run: |
          cd _docs
          remover="site_libs delete outra_pasta"
          for nome in $remover; do
            find . -type d -name "$nome" -exec rm -rf {} +
          done

      - name: Exporta notícias renderizadas
        uses: actions/upload-artifact@v4
        with:
          name: newsroom_renderizadas
          path: "./_docs"

  newshub:
    needs: [renderizar]
    runs-on: ubuntu-latest
    environment:
      name: ENVIRONMENT
    steps:
      - name: Clona o Repositório 'newshub'
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: main
          path: newshub

      - name: Baixa Artefato para 'GitHub Pages'
        uses: actions/download-artifact@v4
        with:
          name: newsroom_renderizadas
          path: "./newshub/news"

      - name: Configura Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Instalar dependencias do Python
        run: |
          cd newshub
          python -m pip install --upgrade pip
          pip install -r run/requirements.txt

      - name: Corrigir links para GitHub Pages - newshub
        run: |
          cd newshub
          python run/cleanNewsroom.py --base-dir news/ --base-ac build/ac/newshub

      - name: Salva Artefato para GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: "./newshub/news"

      - name: Faz deploy para GitHub Pages - newshub
        uses: actions/deploy-pages@v4
        with:
          artifact_name: github-pages

  cleanup:
    needs: [newshub]
    runs-on: ubuntu-latest
    steps:
      - name: Deleta artefatos
        uses: geekyeggo/delete-artifact@v5
        with:
          name: |
            newsroom_detectados
            newsroom_renderizadas
            github-pages
