local_backend: true

backend:
  name: github
  branch: news
  repo: czargab18/newshub
  commit_messages:
    create: create {{collection}} "{{slug}}"
    update: update {{collection}} "{{slug}}"
    delete: delete {{collection}} "{{slug}}"
    uploadMedia: upload "{{path}}"
    deleteMedia: delete "{{path}}"
    openAuthoring: "{{message}}"

publish_mode: editorial_workflow
show_preview_links: true

media_folder: "artigos/uploads"
public_folder: "uploads"

locale: "pt-br"

collections:
  - name: "Noticias"
    label: "noticias"
    folder: "article/news"
    editor:
      visualEditing: true
    create: true
    format: "frontmatter"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "id", name: "id", widget: "hidden" }
      - { label: "category", name: "category", widget: "hidden", default: "PRESS RELEASE" }
      - { label: "Data de Atualização", name: "date_updated", widget: "datetime", default: '{{now}}' }


      - { label: "Título", name: "headline", widget: "string" }
      - { label: "Subtítulo", name: "sub_headline", widget: "string", required: false }

      # Hero Image (objeto simplificado)

      # Conteúdo da Página (Markdown)
      - { label: 'Body', name: 'body', widget: 'markdown', hint: 'Main content goes here.' }