local_backend: true

backend:
  name: github
  branch: news
  repo: czargab18/newshub
  commit_messages:
    create: create {{collection}} "{{slug}}"
    update: update {{collection}} "{{slug}}"
    delete: delete {{collection}} "{{slug}}"
    uploadMedia: upload "{{path}}"
    deleteMedia: delete "{{path}}"
    openAuthoring: "{{message}}"

publish_mode: editorial_workflow

media_folder: "article/uploads"
public_folder: "uploads"

locale: "pt-br"
search: true
show_preview_links: true
slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "_"

collections:
  - name: "noticias"
    label: "Notícias"
    folder: "content/noticias"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "ID", name: "id", widget: "hidden", required: false }
      - { label: "Categoria", name: "category", widget: "hidden", default: "PRESS RELEASE" }
      - { label: "Data", name: "data", widget: "datetime" }
      - { label: "Título", name: "headline", widget: "string" }
      - { label: "Subtítulo", name: "sub_headline", widget: "string", required: false }

      # Hero Image (objeto)
      - label: "Imagem Principal (Hero)"
        name: "hero_image"
        widget: "object"
        required: false
        fields:
          - { label: "Arquivo", name: "arquivo", widget: "image", required: false }
          - { label: "Alt", name: "alt", widget: "string", required: false }
          - { label: "Caption", name: "caption", widget: "string", required: false }

      # Conteúdo da Página (Markdown)
      - { label: "Conteúdo da Página", name: "pagebody", widget: "markdown" }
